{% include "sitio/header.html" %}


<div class="p-5 bg-light">
    <div class="container">
          <h1 class="display-3">Bienvenido@</h1>
          <p class ="lead">Empezar con nuestro sitio web</p>
          <hr class="my-2">
          <p class="lead">
              <a class="btn btn-prima btn-success" href="/libros" role="button">Ver libros disponibles</a>
          </p>

    </div>
</div>

  <header>
    <!-- place navbar here -->
  </header>
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->

  {% include "sitio/footer.html" %}
